{% extends 'admin/layout.html' %}
{% block content %}
<main id="articles">
    <section>
        <header>
            <h1>Receitas</h1>
            <a href="create-edit-article.php">Adicionar nova receita</a>
            {% if success %}> <div class="alert-success">{{ success }}</div> {% endif %}
            {% if failure %} <div class="alert-failure">{{ failure }}</div> {% endif %}
        </header>
        <table>
            <thead>
                <tr>
                    <th scope="col">Imagem</th>
                    <th scope="col">Título</th>
                    <th scope="col">Publicado</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Apagar</th>
                </tr>
            </thead>
            <tbody>
                {% for receita in receitas %}
                    <tr>
                        <td><img src="{{ doc_root }}/imagens/comida/{{ receita.imagem_file }}" alt="Foto de {{ receita.titulo }} publicada por {{ receita.autor }}"></td>
                        <td>{{ receita.titulo }}</td>
                        <td>{{ receita.data|date('d F Y') }}</td>
                        <td>{{ receita.autor }}</td>
                        <td><a href="create-edit-article.php?id={{ receita.id }}" class="editar">Editar</a></td>
                        <td><a href="article-delete.php?id={{ receita.id }}" class="apagar">Apagar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}
