@charset "UTF-8";

:root {
    --cor0: #F7D500;
    --cor1: #ED7D3A;
    --cor2: #2FBF71;
    --cor3: #EF2D56;
    --cor4: #363537;
    --cor5: #FFFFFF;
    --cor6: #000000
}

main#create-edit-quik {
    width: 100vw;
    margin-top: 100px;
}

main#create-edit-quik > h2 {
    margin-top: -25px;
    margin-bottom: 25px;
}

main#create-edit-quik > form {
    width: 98%;
    /*height: 2000px;*/
    /*height: 100%;*/
    border: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

main#create-edit-quik > form > section#video {
    width: 100%;
    height: 700px;
    /*border: 1px solid rgb(210, 210, 210);*/

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center
}

main#create-edit-quik > form > section#video > div#div-video {
    width: 90%;
    height: 650px;
    /*box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.313);*/
    /*border: 1px solid rgb(210, 210, 210);*/
    border-radius: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center
}

main#create-edit-quik > form > section#video > div#div-video {
    margin-top: 50px;
}

main#create-edit-quik > form > section#video > div#div-imagem > div {
    width: 300px;
    height: 620px;
    background-color: var(--cor5);
    background-image: url('../imagens/fotos-fundo/fundo-upload-imagem.jpg');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}

main#create-edit-quik > form > section#video > div#div-video > div {
    width: 300px;
    height: 320px;
    background-color: var(--cor5);
    background-image: url('../imagens/fotos-fundo/fundo-upload-video.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}


main#create-edit-quik input[type=file]::-webkit-file-upload-button {
    color: var(--cor5);
    background-color: var(--cor0);
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
main#create-edit-quik input[type=file]::-webkit-file-upload-button:hover {
    background-color: #d6ba00;
    cursor: pointer;
}

main#create-edit-quik input[type=file]::file-selector-button {
    color: var(--cor5);
    background-color: var(--cor0);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

main#create-edit-quik input[type=file]::file-selector-button:hover {
    background-color: #d6ba00;
    cursor: pointer;
}

main#create-edit-quik > form > section#detalhes {
    width: 100%;
    /*height: 1000px;*/
    /*border: 1px solid rgb(210, 210, 210);*/

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center
}

main#create-edit-quik > form > section#detalhes > input {
    width: 90%;
    height: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 60px 0px 0px 0px;
    border: none;
    border-bottom: 1px solid rgb(210, 210, 210);
    outline: none;
    overflow: hidden;
    margin-bottom: 35px;
}

main#create-edit-quik > form > section#detalhes > textarea {
    width: 90%;
    height: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid rgb(210, 210, 210);
    padding: 5px;
    border-radius: 5px;
}

main#create-edit-quik > form > section#detalhes > textarea:focus {
    border: none;
    border-bottom: 1px solid var(--cor4);
}

main#create-edit-quik > form > section#detalhes > div#div-tags {
    width: 75%;
    margin-top: 35px;
}

main#create-edit-quik > form > section#detalhes > div#div-tags div.tags {
    width: 100%;
}

main#create-edit-quik > form > section#detalhes > div#div-tags div.tags > label {
    padding-left: 25px;
}

main#create-edit-quik > form > section#detalhes > div#div-tags > div.tags > input {
    width: 95%;
    padding: 10px;
    margin: 10px;
    font-size: 0.95em;
    border-radius: 25px;
    border: 1px solid rgb(210, 210, 210);
}

main#create-edit-quik > form > section#detalhes > input[type="button"] {
    width: 140px;
    height: 45px;
    color: var(--cor5);
    background-color: var(--cor0);
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;

    align-self: center;
}

main#create-edit-quik > form > section#detalhes > input[type="button"]:hover {
    background-color: #d6ba00;
    cursor: pointer;
}

main#create-edit-quik > form > div#opcoes {
    width: 100%;
    margin-bottom: 100px;
    margin-top: 50px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

main#create-edit-quik > form > div#opcoes > input[type="submit"] {
    color: var(--cor5);
    background-color: var(--cor1);
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

main#create-edit-quik > form > div#opcoes > input[type="submit"]:hover {
    background-color: #d16d33;
    cursor: pointer;
}

main#create-edit-quik > form > div#opcoes > a {
    text-decoration: none;
    color: var(--cor5);
    background-color: var(--cor3);
    font-size: 0.9em;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    /*margin-bottom: 100px;
    margin-top: -135px;*/
}

main#create-edit-quik > form > div#opcoes > a:hover {
    background-color: #cf264b;
    cursor: pointer;
}

