@charset "UTF-8";

header#cabecalho-principal {
    border-bottom: none !important;
}

header#cabecalho-principal > form {
    visibility: visible;
}

header#cabecalho-principal > form > input[type="search"] {
    font-size: 1.1em;
    width: 500px;
    padding: 12px;
    border: 1px solid var(--cor0);
    border-radius: 25px;
}

header#cabecalho-principal > form > input.escondido {
    display: none;
    visibility: hidden;
    background-color: var(--cor5);
}

header#cabecalho-principal > div > a > span {
    color: black;
    font-size: 1.7em;
    padding: 2px;
}

main {
    order: 2;
}

main > article {
    width: 510px;

    /*border: 0.5px solid var(--cor4);*/
    /*border-top: none;*/
    /*border-radius: 10px;*/
}

main > article#primeiro-artigo {
    margin-top: 130px;
    /*border-radius: 0px 0px 10px 10px;*/
    border-top: none;
}

main > article > section > a {
    width: 500px;
}

main > article > section > a > img {
    width: 500px;
    border-radius: 10px;
}

main > article > section > a.quik {
    width: 500px;
    height: 700px; /* Cada vídeo ocupa 100% da tela */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start; /* Faz cada vídeo começar do topo */
    /*border: 2px solid green;*/
    border-radius: 10px;
    /*position: relative;*/
}

main > article > section > a.quik > video {
    object-fit: cover; /* Faz o vídeo cobrir toda a tela */
    user-select: none;
    touch-action: pan-y;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

main > article > section > a.video {
    width: 700px;
    height: 500px; /* Cada vídeo ocupa 100% da tela */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start; /* Faz cada vídeo começar do topo */
    /*border: 2px solid green;*/
    border-radius: 10px;
    /*position: relative;*/
}

main > article > section > a.video > video {
    object-fit: cover; /* Faz o vídeo cobrir toda a tela */
    user-select: none;
    touch-action: pan-y;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

hr.escondido {
    display: block;
    margin: auto;
    width: 40vw;
    height: 0.5px;
    border: none;
    background-color: var(--cor4);
    margin-top: 108px;
    margin-bottom: -140px;
}

/*footer {
    width: 100%;
    position: fixed;
    top: 94%;
    background-color: var(--cor5);
    padding: 9px;
    border-top: 0.5px solid var(--cor4);
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}*/

aside#aside-more-contents {
    width: 900px;
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.298);*/
    /*padding: 15px;*/
    /*border-radius: 10px;*/
    margin-bottom: 100px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

footer {
    width: 265px;
    height: 800px;
    position: fixed;
    padding-left: 10px;
    top: 127px;
    /*background-color: var(--cor5);*/
    border: none;
    /*border-right: 1px solid rgb(210, 210, 210);
    border-top: 1px solid rgb(210, 210, 210);*/
    
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

footer > a {
    width: 102%;
    padding: 15px;
    border-radius: 25px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;

    transition: all 0.3s;
}

footer > a:hover {
    /*background-color: var(--cor1);*/
    color: var(--cor1);
}

footer > a > span.aparece-desktop {
    display: block !important;
}

footer > a > span.descricao-icone {
    display: block !important;
    padding-left: 10px;
}

footer > a > span.aparece-mobile {
    display: none;
}

footer > a > span.nao-destaque {
    font-weight: normal;
}

dialog {
    width: 800px;
    height: 400px;
    background-color: var(--cor5);
    margin: 25% 50%;
    transform: translate(-50%, -50%);
    border: none;
    z-index: 0;
}

dialog.share {
    width: 450px;
    height: 350px;
}

dialog.share > div.imagem img, dialog.share > div.imagem video {
    width: 40%;
    border-radius: 10px;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe {
    width: 100%;
    height: 100%;
    z-index: 10;
    border: none;
}

main[id^="create-edit-"] > div#opcoes-publicacao {
    width: 600px;
    padding: 10px;
    margin-bottom: 25px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}