@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Glass+Antiqua&display=swap');

:root {
    --cor0: #F7D500;
    --cor1: #ED7D3A;
    --cor2: #2FBF71;
    --cor3: #EF2D56;
    --cor4: #363537;
    --cor5: #FFFFFF;
    --cor6: #000000
}

main#edit-profile {
    display: flex;
    flex-flow: column nowrap;
    /*justify-content: space-evenly;*/
    align-items: center;
}

main#edit-profile > section {
    width: 500px;
    height: 450px;
    color: var(--cor4);
    margin-top: 150px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main#edit-profile > section > h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    color: var(--cor4);
    font-weight: bold;

    align-self: center;
}

main#edit-profile > section > form {
    width: 400px;
    height: 350px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main#edit-profile > section > form > div {
    margin: 10px 0px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

main#edit-profile > section > form > div#div-imagem {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main#edit-profile > section > form > div#div-imagem > img {
    width: 200px;
    border-radius: 50%;
}

main#edit-profile > section > form > div#div-imagem > a {
    margin-top: 30px;
    color: var(--cor5);
    background-color: var(--cor1);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
}

main#edit-profile > section > form > div#div-imagem > a:hover {
    background-color: #d16e35;
}

main#edit-profile > section > form > div#informacoes > div {
    margin: 10px 0px;
}

main#edit-profile > section > form > div#informacoes > div > input {
    width: 400px;
    font-size: 1em;
    padding: 8px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
}

main#edit-profile > section > form > div > div#nascimento > select, main#edit-profile > section > form > div > div#genero > select, main#edit-profile > section > form > div > div#role > select {
    padding: 10px 45px 10px 0px;
    margin: 10px 0px;
}

/*main#edit-profile > section > form > div > textarea {
    width: 400px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
}*/

main#edit-profile > section > form > input {
    color: var(--cor5);
    background-color: var(--cor0);
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;

    align-self: flex-end;
}

main#edit-profile > section > form > a#apagar-conta {
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--cor3);
    color: var(--cor5);
    font-weight: normal;
    align-self: flex-start;
    margin-top: 80px;
    border-radius: 5px;
}