@charset "UTF-8";

html, body {
    font-weight: 600;
}

main#article h2#descricao-receita {
    text-align: right;
}

main#article  {
    margin-top: 68px;
    font-weight: normal;
}

main#article  > section#topo > section#imagem > picture > img {
    width: 100vw;
}

main#article > section#topo section#info {
    padding: 0px 10px;
}

main#article > section#topo section#info > section {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

main#article > section#topo section#info > section > div#dados {
    font-weight: normal;
    margin: 5px;
}

main#article > section#topo section#info > section > div > a#user {
    font-weight: bold;
    margin: 0px;
    margin-top: 100px;
    text-decoration: none;
    color: var(--cor4);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main#article > section#topo section#info > section > div > a#user > img {
    width: 40px;
}

main#article > section#topo section#info > section > div > a#editar {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor5);
    padding: 10px 20px;
    background-color: var(--cor1);
    transform: translate(50px, 50px);
    border-radius: 10px;
    margin: 10px;

    align-self: flex-start;
}

main#article > section#topo section#info > section > div > a#user > img {
    border-radius: 50%;
}

main#article > section#topo section#info > section > div > div#reacoes {
    margin: 20px;
}

main#article > section#topo section#info > section > div > div#reacoes > div.icones {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

main#article > section#topo section#info > section > div > div#reacoes > div.icones > span.icones-reacao {
    flex: 0 0 50px;
}

main#article > section#topo section#info > section > div > div#reacoes > div.numeros {
    display: flex;
    flex-flow: row;
    align-items: center;
}

main#article > section#topo section#info > section > div > div#reacoes > div.numeros > span {
    font-size: 0.9em;

    flex: 0 0 55px;
}

