@charset "UTF-8";

html, body {
    font-weight: 600;
    width: 100vw;
    height: 100vh;
}

main#video h2#descricao-receita {
    text-align: right;
}

main#video  {
    /*width: 100vw;
    height: 100vh;*/
    margin-top: 70px;
    font-weight: normal;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/*main#video  > section#topo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}*/

main#video  > section#topo > section#video-video {
    width: 100vw;
}

main#video  > section#topo > section#video-video > iframe {
    width: 100vw;
    height: 40vh;
}

main#video > section#topo section#info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

main#video > section#topo section#info > section > div > div#dados {
    font-weight: normal;
    margin: 5px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

main#video > section#topo section#info > section > div > div#dados > h1 {
    font-size: 2em;
}

main#video > section#topo section#info > section > div > div#dados > p#descricao-receita {
    padding-left: 10px;
    font-size: 0.95em;
    margin: 20px 0px;
}

main#video > section#topo section#info > section > div > div#dados > a#user {
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
    color: var(--cor4);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main#video > section#topo section#info > section > div > div#dados > a#user img {
    width: 40px;
    border-radius: 50%;
}

main#video > section#topo section#info > section > div > div#dados a#editar {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor5);
    padding: 10px 20px;
    background-color: var(--cor1);
    border-radius: 10px;
    margin: 10px;

    align-self: flex-end;
}

main#video > section#topo section#info > section > div > div#reacoes {
    width: 150px;
    transform: translate(40px, -60px);
}

main#video > section#topo section#info > section > div > div#reacoes > div.icones {
    width: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main#video > section#topo section#info > section > div > div#reacoes > div.icones > span.icones-reacao {
    flex: 0 0 50px;
}

main#video > section#topo section#info > section > div > div#reacoes > div.numeros {
    width: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main#video > section#topo section#info > section > div > div#reacoes > div.numeros > span {
    font-size: 0.9em;
}

