@charset "UTF-8";

main#members > section {
    width: 60vw;
    margin-top: 100px;
    margin-left: -50px;
}

main#members > section > table > tbody > tr > td > img {
    width: 100px;
    border-radius: 50%;
}