v10/public/imagens/comida/cropped_500/temaki7.jpg
v10/public/imagens/comida/cropped_500/hamburger-saus-maken.webp
v10/public/imagens/comida/cropped_700/hamburger-saus-maken.webp
v10/public/imagens/comida/croppped/sushi.jpg
v10/public/imagens/comida/croppped/lasanha.jpg
v10/public/imagens/comida/croppped/hamburger21.jpg
*.jpg
*.webp
*.MOV
