@charset "UTF-8";

main#video h1#titulo-receita {
    font-size: 3em;
    padding: 20px 0px 0px 0px;
    font-weight: bolder;
    text-align: center;
}

main#video {
    margin: auto;
}

main#video > section#topo {
    width: 100%;
    margin-top: 100px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}

main#video  > section#topo > section#video-video {
    width: 100vw;
}

main#video > section#topo > section#info {
    width: 50%;
}

main#video> section#topo section#info > section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

main#video > section#topo section#info > section > div#dados {
    font-weight: normal;
    height: 400px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

main#video > section#topo section#info > section > div > p#descricao-receita {
    font-weight: normal;
    margin: 5px;

    align-self: flex-start;
}

main#video > section#topo section#info > section > div > div#reacoes {
    width: 150px;
    transform: translate(40px, -100px);
}





