@charset "UTF-8";

main#article-delete {
    width: calc(100vw - 400px);
}

main#article-delete > section#apagar {
    height: 900px;
}  

main#article-delete > section#apagar > section#dados > img {
    width: 500px;
}