@charset "UTF-8";

section#opcoes-search {
    margin-top: 150px;
}

section#opcoes-search > section {
    width: 800px;
    margin-left: 250px;
}

section#opcoes-search > div#linha-principal {
    width: 550px;
    transform: translate(125px, 0px);
}

main#search {
    width: calc(100vw - 250px);
    margin-left: 250px;
}

main#search > div > a > img { 
    width: 350px;    
}

main#search footer.info {
    top: 78%;
}