@charset "UTF-8";

html, body {
    font-size: 1em;
}

main#articles > section > table > tbody > tr > td > img, main#articles > section > table > tbody > tr > td > video {
    width: 150px;
    border-radius: 0px !important;
}

main#content > section > table > tbody > tr > td > img, main#content > section > table > tbody > tr > td > video {
    width: 20vw;
    padding-left: 0px;
    border-radius: none !important;
    border-radius: 0px !important;
}