@charset "UTF-8";

main#article h1#titulo-receita {
    font-size: 3em;
    padding: 20px 0px 0px 0px;
    font-weight: bolder;
    text-align: center;
}

main#article {
    margin: auto;
}

main#article > section#topo {
    width: 100%;
    margin-top: 100px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}

main#article > section#topo > section#imagem {
    width: 50%;
    /*margin-left: 70px;*/
}

main#article > section#topo > section#imagem > picture > img {
    width: 100%;
}

main#article > section#topo > section#info {
    width: 50%;
}

main#article > section#topo section#info > section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

main#article > section#topo section#info > section > div#dados {
    font-weight: normal;
    height: 400px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

main#article > section#topo section#info > section > div > p#descricao-receita {
    font-weight: normal;
    margin: 5px;

    align-self: flex-start;
}





