@charset "UTF-8";

main#profile {
    margin-top: 20px;
    align-self: center;
}

main#profile h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    transform: none;
    transform: translate(0px, 20px);
}

main#profile > header {
    width: 70vw;
    margin-top: 75px;
    margin-bottom: 150px;

    justify-content: space-evenly;
    align-items: center;
}

main#profile > header > div#foto_e_bio {
    width: 100%;

    flex-flow: column nowrap;
}

main#profile > header > div#foto_e_bio > img {
    width: 150px;
    margin-right: 0px;
    transform: none;
}

main#profile > header > div#foto_e_bio > p {
    padding-right: 25px;
    align-self: flex-end;
    margin-top: -100px;
    margin-bottom: 200px;
}

main > header > div#foto_e_bio > a {
    margin-top: -100px;
    margin-right: 0px;
    transform: translate(200px, -140px);
}

main#profile > header > h1 {
    margin-top: -180px;
    margin-bottom: 30px;
    font-size: 1.8em;
}

main#profile > header > div#estatisticas_numeros {
    width: 100%;

    justify-content: center;
}

main#profile > header > div#estatisticas_legenda {
    width: 100%;
    margin-bottom: 200px;

    justify-content: center;
}

main#profile > header > p {
    margin-top: -225px;
    padding-right: 40px;
}

main#profile > section {
    width: 70vw;
    margin-top: 0px;
    margin-left: 150px;
    /*border: 2px solid red;*/

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

main#profile > section > div {
    width: 100%;
}

main#profile > section > div > a {
    width: 240px;
    height: 240px;
}

main#profile > section > div > a:hover {
    opacity: 0.5;
}

main#profile > section > div > div.video-wrapper-profile {
    width: 240px;
    height: 240px;
}

dialog.iframes-profile {
    width: 700px;
    padding: 10px;
}

/*main#profile > section > div > div.video-wrapper-profile > iframe {
    width: 100%;
    height: 100%;
    background-color: var(--cor5);
    object-fit: cover;
    /*display: block;
}

main#profile > section > div > div.video-wrapper-profile > span {
    width: 100%;
    z-index: 10;
    color: var(--cor5);
    font-weight: lighter;
    text-transform: capitalize;
    padding: 10px;

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/
