@charset "UTF-8";

html, body {
    font-weight: 600;
    width: 100vw;
    height: 100vh;
}

main#video  {
    /*width: 100vw;
    height: 100vh;*/
    margin-top: 82px;
    padding: 0px;
    font-weight: normal;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main#video  > section#topo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main#video  > section#topo > section#video-video {
    width: 100vw;
    height: 60vw;
}

main#video  > section#topo > section#video-video > iframe {
    width: 100%;
    height: 100%;
}

main#video > section#topo section#info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

main#video > section#topo section#info > div#dados {
    font-weight: normal;
    margin: 5px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

main#video > section#topo section#info > div#dados > h1 {
    font-size: 2em;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px 0px;
}

main#video > section#topo section#info > div#dados > p#descricao-receita {
    width: 90vw;
    line-height: 1.3em;
    padding-left: 10px;
    text-indent: 10px;
    font-size: 0.95em;
    margin: 20px 0px;
    text-align: justify;
}

main#video > section#topo section#info > div#dados > p#data-publicacao {
    align-self: flex-end;
}

main#video > section#topo section#info > div#dados > p#data-publicacao > span {
    font-weight: bold;
}

main#video > section#topo section#info > div#dados > a#user {
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
    color: var(--cor4);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main#video > section#topo section#info > div#dados > a#user img {
    width: 40px;
    border-radius: 50%;
}

main#video > section#topo section#info > div#dados a#editar {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor5);
    padding: 10px 20px;
    background-color: var(--cor1);
    border-radius: 10px;
    margin: 10px;

    align-self: flex-end;
}

main#video > section#topo section#info > div#reacoes {
    width: 150px;
    transform: translate(40px, -60px);
}

main#video > section#topo section#info > div#reacoes > div.icones {
    width: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main#video > section#topo section#info > div#reacoes > div.icones > span.icones-reacao {
    cursor: pointer;
    flex: 0 0 50px;
}

main#video > section#topo section#info > div#reacoes > div.icones > button#f > span.material-symbols-outlined {
    cursor: pointer;
}

main#video > section#topo section#info > div#reacoes > div.icones > button#b > span.material-symbols-outlined {
    cursor: pointer;
}

main#video > section#topo section#info > div#reacoes > div.numeros {
    width: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main#video > section#topo section#info > div#reacoes > div.numeros > span {
    font-size: 0.9em;
}

span.span-aparece {
    color: var(--cor4);
}

