{% extends 'layout.html' %}
{% block title %} Criar e Editar Vídeo Longo {% endblock %}
{% block content %}
{% if video.youtube_id != '' %}
    {% set borda = 'none' %}
    {% set text_indent = '-225px' %}
{% else %}
    {% set borda = '1px solid rgb(210, 210, 210)' %}
    {% set text_indent = '0px' %}
{% endif %}
<style>
    main#create-edit-long-video > form > section#video > div#div-video { 
        border: {{ borda }};
    }
</style>
<main id="create-edit-long-video">
    <h2>Adicionar/Editar Vídeo Longo</h2>
    <div id="opcoes-publicacao">
        <a href="{{ doc_root }}create-edit-article">Receita</a>
        <a href="{{ doc_root }}create-edit-post">Publicação</a>
        <a href="{{ doc_root }}create-edit-quik">Quik</a>
        <a href="{{ doc_root }}create-edit-long-video" class="pagina-atual">Vídeo Longo</a>
    </div>
    {% if erros.warning %}
        <div class="alert-danger">{{ erros.warning }}</div>
    {% endif %}
    <form action="{{ doc_root }}create-edit-long-video/{{ video.id }}" method="post" autocomplete="off" id="form" enctype="multipart/form-data">
        <section id="imagem-video">
            <div id="div-video">
                {% if not video.youtube_id %}
                    <label for="video">Upload de Vídeo</label>
                    <div>
                        <input type="file" name="video" id="video" accept="video/*">
                    </div>
                    {% if erros.imagem_file %} <spanc class="error failure">{{ erros.imagem_file }}</span> {% endif %}
                {% else %}
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.youtube_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen autoplay></iframe>                
                {% endif %}
            </div>
            <div id="div-imagem">
                {% if not receita.imagem_file %}
                    <label for="imagem">Upload de Thumbnail</label>
                    <div>
                        <input type="file" name="imagem" id="imagem" accept="image/jpeg, image/png, image/gif">
                    </div>
                    {% if erros.imagem_fifle %}<span class="error">{{ erros.imagem_file }}</span> {% endif %}
                {% else %}
                    <label for="imagem_guardada">Imagem:</label>  
                    <img src="{{ doc_root }}imagens/comida/{{ receita.imagem_file }}" alt="Foto de {{ receita.titulo }} publicada por {{ autor }}" id="imagem_guardada">
                    <br>
                    <a href="{{ doc_root }}image-delete/{{ receita.id }}">Apagar imagem</a>
                {% endif %}
            </div>
        </section>
        <section id="detalhes">
            <input type="text" name="titulo" id="titulo" placeholder="Adicionar título" value="{{ video.titulo }}">
            <textarea name="descricao" id="descricao" placeholder="Adicionar descrição" maxlength="2000">{{ opiniao_editar.opiniao }}{{ video.descricao }}</textarea>

            <div id="div-tags">
                <label for="tag1">Keywords / Tags</label>
                {% set count = count_keywords %}
                {% for i in 1..count %}
                    <div class="tags">
                        <label for="tag{{ 1 }}">Tag {{ i }}</label>
                        <input type="text" name="tag{{ i }}" id="tag{{ i }}" placeholder="Ex: #sushi" value="#{{ keywords[i-1] }}">
                        {% if erros.keywords %}<span class="error">{{ erros.keywords }}</span> {% endif %}
                    </div>
                {% endfor %}
            </div>
            <input type="button" value="Adicionar Tag" onclick="adicionaTag()">
        </section>
        <input type="text" name="quant_keywords" id="keywords">
        <div id="opcoes">
            <a href="{{ doc_root }}long-video-delete/{{ video.id }}">Apagar</a>
            <input type="submit" value="Publicar">
        </div>
    </form>
</main>
<script>
    function encontrarMaiorId(prefixo) {
    let elementos = document.querySelectorAll(`[id^="${prefixo}"]`);
    let maiorId = 0;

    elementos.forEach(elemento => {
        // Extrai o número do ID removendo o prefixo
        let idNumerico = parseInt(elemento.id.replace(prefixo, ''), 10);
        
        // Atualiza o maior ID, se necessário
        if (idNumerico > maiorId) {
            maiorId = idNumerico;
        }
    })

    return maiorId;
}

    let maiorIdKeywords = encontrarMaiorId("tag");
    let idNameTag = maiorIdKeywords

    function adicionaTag() {
        let label = window.document.createElement('label')
        let input = window.document.createElement('input')
        let div = window.document.createElement('div')
        let divTags = window.document.querySelector('div#div-tags')
        idNameTag++

        label.setAttribute("for", `tag${idNameTag}`)
        label.innerHTML = `Tag ${idNameTag}`
        input.name = `tag${idNameTag}`
        input.id = `tag${idNameTag}`

        div.className = 'tags'

        div.appendChild(label)
        div.appendChild(input)
        divTags.appendChild(div)
    }

    document.getElementById("form").addEventListener("submit", function(event) {
    let form = event.target;

    let keywords = document.getElementById('keywords');

    function encontrarMaiorId(prefixo) {
    let elementos = document.querySelectorAll(`[id^="${prefixo}"]`);
    let maiorId = 0;

    elementos.forEach(elemento => {
        // Extrai o número do ID removendo o prefixo
        let idNumerico = parseInt(elemento.id.replace(prefixo, ''), 10);
        
        // Atualiza o maior ID, se necessário
        if (idNumerico > maiorId) {
            maiorId = idNumerico;
        }
    })

    return maiorId;
}

    let maiorIdKeywords = encontrarMaiorId("tag");

    keywords.value = maiorIdKeywords;
});
</script>
{% endblock %}