{% extends 'layout.html' %}
{% block title %} {{ receita.titulo }} {% endblock %}
{% block content %}
<main id="article">
    <input type="hidden" id="cookieUser" name="user_token" value="{{ cookie.token }}">
    <input type="hidden" id="sessionToken" value="{{ tokenLogin }}">
    <section id="topo">
        <section id="imagem">
            <picture>
                <source media="(max-width: 500px)" srcset="{{ doc_root }}imagens/comida/cropped_500/{{ receita.imagem_file }}">
                <source media="(max-width: 600px)" srcset="{{ doc_root }}imagens/comida/cropped_600/{{ receita.imagem_file }}">
                <source media="(max-width: 700px)" srcset="{{ doc_root }}imagens/comida/cropped_700/{{ receita.imagem_file }}">
                <img src="{{ doc_root }}imagens/comida/{{ receita.imagem_file }}" alt="Foto de {{ receita.titulo }} publicada por {{ receita.autor }}">
            </picture>
        </section>
        <section id="info">
            <h1 id="titulo-receita">{{ receita.titulo }}</h1>
            <h2 id="descricao-receita">{{ receita.descricao }}</h2>
            <section>
                <div>
                    <div id="reacoes">
                        <div class="icones">
                            {% if session.id != 0 %}
                            <span id="icone-reacao-{{ article.id }}" class="icones-reacao" onclick="event.preventDefault()"><img src="{{ doc_root }}imagens/emojis/emoji{{ emoji_cod }}.png" alt="Ícone de Like"></span>
                        {% else %}
                            <a href="{{ doc_root}}login"><span class="icones-reacao"><img src="{{ doc_root }}imagens/emojis/emoji{{ emojis_cod[count] }}.png" alt=""></span></a>
                        {% endif %}
                            <dialog id="c{{ count }}">
                                <iframe data-src="{{ doc_root }}opinions/{{ receita.id }}" frameborder="0" id="comentarios{{ count }}"></iframe>
                            </dialog>
                            <button id="b{{ count }}"><span class="material-symbols-outlined">comment</span></button>

                            <dialog id="s{{ count }}" class="share">
                                <div class="imagem">
                                    <img data-src="{{ doc_root }}imagens/comida/{{ receita.file }}" alt="Foto de {{ receita.titulo }} publicada por {{ receita.autor }}" id="imagem-para-share{{ count }}">
                                    {% set link = 'https://d58a-2001-8a0-55bd-9900-78ac-7e71-a9de-eeaf.ngrok-free.app/the-cooking-place-front-e-back-end/v11/public/article/' ~  receita.id %}
                                </div>
                                <p class="partilhar-atraves-de">Partilhar através de </p>
                                <div class="icones-redes-sociais">
                                    <span class="material-symbols-outlined" onclick="copiar()" class="link" id="copiar-link">link</span>
                                    <input type="hidden" name="link" value="{{ link }}">
                                    <span class="material-symbols-outlined">send</span>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ link }}" target="_blank"><img src="{{ doc_root }}imagens/icons/facebook-icon.png" alt="Ícone do Facebook"></a>
                                    <a href="https://api.whatsapp.com/send?text={{ receita.titulo|url_encode }}%20{{ link }}" target="_blank"><img src="{{ doc_root }}imagens/icons/whatsapp-icon.png" alt=""></a>
                                    <a href="https://pinterest.com/pin/create/button/?url={{ link|url_encode }}&media={{ ('https://d58a-2001-8a0-55bd-9900-78ac-7e71-a9de-eeaf.ngrok-free.app/the-cooking-place-front-e-back-end/v8/public/imagens/comida/' ~ receita.file)|url_encode }}&description={{ receita.titulo|url_encode }}" target="_blank"><img src="{{ doc_root }}imagens/icons/pinterest-icon.png" alt="Ícone do Pinterest"></a>
                                    <a href="https://twitter.com/intent/tweet?url={{ link }}&text=Receita-do-The-Cooking-Place" target="_blank"><img src="{{ doc_root }}imagens/icons/x-icon.png" alt="Ícone do X"></a>
                                </div>
                            </dialog>
                            <button id="f{{ count }}"><span class="material-symbols-outlined">ios_share</span></button>
                            <!--<div class="save">
                                <a href="{{ doc_root }}save/{{ receita.id }}/?file={{ receita.file }}&tipo_conteudo={{ receita.tipo_conteudo }}" class="guardar"><span class="material-symbols-outlined">bookmark</span></a>
                            </div>-->
                        </div>
                        <div class="numeros">
                        {% if article.likes != '' %}
                            <span id="icone-reacao-num-{{ article.id }}">{{ article.likes }}</span>
                        {% else %} 
                            <span>0</span>
                        {% endif %}
                        {% if article.opinioes != '' %}
                            <span>{{ conteudo.opinioes }}</span>
                        {% else %}
                            <span>0</span>
                        {% endif %}
                        <span>55</span>
                        </div>
                    </div>
                </div>
                <div>
                    <p>Tempo de preparo: {{ receita.tempo_preparo }} {{ receita.unidade_tempo }}</p>
                    <p>Data: {{ receita.data|date('d F Y') }}</p>
                    <p>Nº pessoas: {{ receita.numero_pessoas }}</p>
                    <br>
                    <a href="{{ doc_root }}profile/{{ receita.membro_id }}/{{ receita.seo_member }}" id="user"> <img src="{{ doc_root }}imagens/fotos-perfil/{{ receita.picture }}" alt="Foto de perfil de {{ receita.autor }}">{{ receita.autor }}</a>
                    <br>
                    <br>
                    {% if session.id == receita.membro_id %}
                        <a href="{{ doc_root }}create-edit-article/{{ receita.id }}" id="editar">Editar</a>
                    {% endif %}
                </div>
            </section>
        </section>
    </section>
    <section id="needs">
        <section id="ingredientes">
            <h2>Ingredientes</h2>
            <ul>
                {% set i = 0 %}
                {% for ingrediente in ingredientes %}
                    <li><input type="checkbox" name="<?= {{ ingrediente|lower }} ?>" id="{{ ingrediente|lower }}"> <label for="{{ ingrediente|lower }}">{{ ingrediente }} {{ quantidades[i] }}</label></li>
                    {% set i = i + 1 %}
                {% endfor %}
            </ul>
        </section>
        <section id="video">
            <iframe src="https://www.youtube.com/embed/{{ receita.video_longo_file }}?enablejsapi=1&mute=1&modestbranding=1&rel=0"
            frameborder="0" allowfullscreen></iframe>
        </section>
    </section>
    <section id="steps">
        <h2>Passos de Preparação</h2>
        <ul>
            {% for passo in passos_preparacao %}
                <li><span>Passo {{ loop.index }} </span><span class="passo">{{ passo }}</span></li>
            {% endfor %}
        </ul>
    </section>
    <h2>Mais Conteúdos que vais gostar</h2>
    <aside id="aside-more-contents">
        {{ include('more-contents.html') }}
    </aside>
</main>
<script>
    window.document.querySelectorAll("button[id^='b']").forEach((button) => {
        button.addEventListener('click', function () {
            let count = this.id.replace("b", "")
            let dialog = window.document.querySelector(`#c${count}`)
            let iframe = window.document.querySelector(`#comentarios${count}`)
            let fechar = window.document.querySelector(`#f${count}`)

            if (!iframe.src) {
                iframe.src = iframe.getAttribute('data-src')
            }

            dialog.showModal()

            fechar.addEventListener('click', function () {
                dialog.close()
            })

            dialog.addEventListener('click', function () {
                dialog.close()
            })
        })
    })
</script>
<script src="{{ doc_root }}js/websocket.js"></script>
{% endblock %}
{% block footer %} {% endblock %}
