{% extends 'layout.html' %}
{% block content %}
<main id="index">
    <input type="hidden" id="cookieUser" name="user_token" value="{{ cookie.token }}">
    <input type="hidden" id="sessionToken" value="{{ tokenLogin }}">
    {% for conteudo in conteudos %}
        <article {% if count == 1 %} id='primeiro-artigo' {% endif %}>
            {% set count = count + 1 %}
            <header>
                <a href="{{ doc_root }}profile/{{ conteudo.membro_id }}/{{ conteudo.seo_member }}">
                    <img src="{{ doc_root }}imagens/fotos-perfil/{{ conteudo.picture }}" alt="Foto de perfil de {{ conteudo.autor }}">
                    <span class="nome">{{ conteudo.autor }}</span>
                </a>
                <span class="data">{{ conteudo.data|date('d F Y') }}</span>
                <br>
            </header>
            <section>
                {% if conteudo.tipo_conteudo == 'receita' %}
                    <a href="{{ doc_root }}article/{{ conteudo.id }}/{{ conteudo.seo_title }}" class="receita"><img src="{{ doc_root }}imagens/comida/{{ conteudo.file }}" alt="Foto de {{ conteudo.titulo }} publicada por {{ conteudo.autor }}"></a>
                {% elseif conteudo.tipo_conteudo == 'quik'  %}
                    {% if conteudo.receita_acoplada_id == 0 %}
                        <div style="position: relative; display: inline-block;" class="video-wrapper quik">
                            <iframe id="video-{{ conteudo.id }}" id="video-{{ conteudo.id }}" class="youtube-video"
                            data-video-id="{{ conteudo.file }}" src="https://www.youtube.com/embed/{{ conteudo.file }}?enablejsapi=1&mute=1&modestbranding=1&rel=0"
                            frameborder="0" allowfullscreen></iframe>
                        
                            <a href="{{ doc_root }}whats-happening/{{ conteudo.id }}/{{ conteudo.seo_title }}"
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
                                    z-index: 10; background: transparent;"></a>
                            <span>{{ conteudo.tipo_conteudo }}</span>
                        </div>
                    {% else %}
                        <div style="position: relative; display: inline-block;" class="video-wrapper quik">
                            <iframe id="video-{{ conteudo.id }}" id="video-{{ conteudo.id }}" class="youtube-video"
                            data-video-id="{{ conteudo.file }}" src="https://www.youtube.com/embed/{{ conteudo.file }}?enablejsapi=1&mute=1&modestbranding=1&rel=0"
                            frameborder="0" allowfullscreen></iframe>
                        
                            <a href="{{ doc_root }}article/{{ conteudo.receita_acoplada_id }}/{{ conteudo.seo_title }}"
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
                                    z-index: 10; background: transparent;"></a>
                            <span>{{ conteudo.tipo_conteudo }}</span>
                        </div>
                    {% endif %}
                {% elseif conteudo.tipo_conteudo == 'publicação' %}  
                    <a href="{{ doc_root }}post/{{ conteudo.id }}"><img src="{{ doc_root }}posts/{{ conteudo.file }}" alt="Foto publicada por {{ conteudo.autor }}"></a>
                {% elseif conteudo.tipo_conteudo == 'vídeo longo' %}
                    <div style="position: relative; display: inline-block;" class="video-wrapper video-longo">
                        <iframe id="video-{{ conteudo.id }}" id="video-{{ conteudo.id }}" class="youtube-video"
                            data-video-id="{{ conteudo.file }}" src="https://www.youtube.com/embed/{{ conteudo.file }}?enablejsapi=1&mute=1&modestbranding=1&rel=0"
                            frameborder="0" allowfullscreen></iframe>
                    
                        <a href="{{ doc_root }}video/{{ conteudo.id }}"
                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
                                z-index: 10; background: transparent;"></a>
                        <span>{{ conteudo.tipo_conteudo }}</span>
                    </div>
                {% endif %}
            </section>
            <aside class="aside-principal">
                <section>
                    <div class="icones">
                        <div class="react">
                            {% if session.id != 0 %}
                                <span id="icone-reacao-{{ conteudo.id }}" class="icones-reacao" onclick="event.preventDefault()"><img src="{{ doc_root }}imagens/emojis/emoji{{ emojis_cod[count] }}.png" alt="Ícone de Like"></span>
                            {% else %}
                                <a href="{{ doc_root}}login"><span class="icones-reacao"><img src="{{ doc_root }}imagens/emojis/emoji{{ emojis_cod[count] }}.png" alt=""></span></a>
                            {% endif %}
                            <dialog id="c{{ count }}">
                                <iframe data-src="{{ doc_root }}opinions/{{ conteudo.id }}" frameborder="0" id="comentarios{{ count }}"></iframe>
                            </dialog>
                            <button id="b{{ count }}"><span class="material-symbols-outlined">comment</span></button>

                            <dialog id="s{{ count }}" class="share">
                                <div class="imagem">
                                    {% if conteudo.tipo_conteudo == 'receita' %}
                                        <img data-src="{{ doc_root }}imagens/comida/{{ conteudo.file }}" alt="Foto de {{ conteudo.titulo }} publicada por {{ conteudo.autor }}" id="imagem-para-share{{ count }}">
                                        {% set link = 'https://d58a-2001-8a0-55bd-9900-78ac-7e71-a9de-eeaf.ngrok-free.app/the-cooking-place-front-e-back-end/v8/public/article/' ~  conteudo.id %}
                                    {% elseif conteudo.tipo_conteudo == 'quik'  %}
                                        <iframe id="imagem-para-share{{ count }}" class="youtube-video" data-src="https://www.youtube.com/embed/{{ quik.youtube_id }}?enablejsapi=1&mute=1&modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                                        {% set link = 'https://d58a-2001-8a0-55bd-9900-78ac-7e71-a9de-eeaf.ngrok-free.app/the-cooking-place-front-e-back-end/v8/public/whats-happening/' ~ conteudo.id %}
                                    {% elseif conteudo.tipo_conteudo == 'publicação' %}
                                        <img data-src="{{ doc_root }}posts/{{ conteudo.file }}" alt="Foto publicada por {{ conteudo.autor }}" id="imagem-para-share{{ count }}">
                                        {% set link = 'https://d58a-2001-8a0-55bd-9900-78ac-7e71-a9de-eeaf.ngrok-free.app/the-cooking-place-front-e-back-end/v8/public/post/' ~ conteudo.id  %}
                                    {% elseif conteudo.tipo_conteudo == 'vídeo longo' %}
                                        <iframe id="imagem-para-share{{ count }}" class="youtube-video" data-src="https://www.youtube.com/embed/{{ quik.youtube_id }}?enablejsapi=1&mute=1&modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                                        {% set link = 'https://d58a-2001-8a0-55bd-9900-78ac-7e71-a9de-eeaf.ngrok-free.app/the-cooking-place-front-e-back-end/v8/public/video/' ~ conteudo.id %}
                                    {% endif %}
                                </div>
                                <p class="partilhar-atraves-de">Partilhar através de </p>
                                <div class="icones-redes-sociais">
                                    <span class="material-symbols-outlined" onclick="copiar()" class="link" id="copiar-link">link</span>
                                    <input type="hidden" name="link" value="{{ link }}">
                                    <span class="material-symbols-outlined">send</span>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ link }}" target="_blank"><img src="{{ doc_root }}imagens/icons/facebook-icon.png" alt="Ícone do Facebook"></a>
                                    <a href="https://api.whatsapp.com/send?text={{ conteudo.titulo|url_encode }}%20{{ link }}" target="_blank"><img src="{{ doc_root }}imagens/icons/whatsapp-icon.png" alt=""></a>
                                    <a href="https://pinterest.com/pin/create/button/?url={{ link|url_encode }}&media={{ ('https://d58a-2001-8a0-55bd-9900-78ac-7e71-a9de-eeaf.ngrok-free.app/the-cooking-place-front-e-back-end/v8/public/imagens/comida/' ~ conteudo.file)|url_encode }}&description={{ conteudo.titulo|url_encode }}" target="_blank"><img src="{{ doc_root }}imagens/icons/pinterest-icon.png" alt="Ícone do Pinterest"></a>
                                    <a href="https://twitter.com/intent/tweet?url={{ link }}&text=Receita-do-The-Cooking-Place" target="_blank"><img src="{{ doc_root }}imagens/icons/x-icon.png" alt="Ícone do X"></a>
                                </div>
                            </dialog>
                            <button id="f{{ count }}"><span class="material-symbols-outlined">ios_share</span></button>
                        </div>
                        <div class="save">
                            <a href="{{ doc_root }}save/{{ conteudo.id }}/?file={{ conteudo.file }}&tipo_conteudo={{ conteudo.tipo_conteudo }}" class="guardar"><span class="material-symbols-outlined">bookmark</span></a>
                        </div>
                    </div>
                    <div class="numeros">
                        {% if conteudo.likes != '' %}
                            <span id="icone-reacao-num-{{ conteudo.id }}">{{ conteudo.likes }}</span>
                        {% else %} 
                            <span></span>
                        {% endif %}
                        {% if conteudo.opinioes != '' %}
                            <span>{{ conteudo.opinioes }}</span>
                        {% else %}
                            <span>0</span>
                        {% endif %}
                        <span>55</span>
                    </div>
                    <h2>{{ conteudo.titulo }}</h2>
                    <p>{{ conteudo.descricao }}</p>
                </section>
                <aside>
                    <a href="{{ doc_doot }}index">Ver os 100 comentários</a>
                </aside>
            </aside>
        </article>
        {% if (count % 11 == 0) %}
        <aside id="aside-pagination">
            <nav class="pagination">
                <ul>
                    {% for i in 1..total_pages %}
                        {% set ativo = loop.index == current_page ? 'ativo': '' %}
                        <li><a href="index/?from={{ (loop.index - 1) * 10 }}" class="{{ ativo }}">{{ i }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </aside>
    {% endif %}
    {% endfor %}
    <script>
        const cookieUser = window.document.querySelector('input#cookieUser')

        window.document.querySelectorAll("button[id^='b']").forEach((button) => {
            button.addEventListener('click', function () {
                let count = this.id.replace("b", "")
                let dialog = window.document.querySelector(`#c${count}`)
                let iframe = window.document.querySelector(`#comentarios${count}`)

                if (!iframe.src) {
                    iframe.src = iframe.getAttribute('data-src')
                }

                dialog.showModal()

                dialog.addEventListener('click', function () {
                    dialog.close()
                })
            })
        })

        window.document.querySelectorAll("button[id^='f']").forEach((button) => {
            button.addEventListener('click', function () {
                let count = this.id.replace("f", "")
                let dialog = window.document.querySelector(`#s${count}`)
                let media = window.document.querySelector(`#imagem-para-share${count}`)

                if (!media.src) {
                    media.src = media.getAttribute('data-src')
                }

                dialog.showModal()

                dialog.addEventListener('click', function () {
                    dialog.close()
                })
            })
        })

        

        document.addEventListener("DOMContentLoaded", () => {
        let videos = document.querySelectorAll("iframe");

        // Configura o Observer
        let observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                let video = entry.target;

                if (entry.isIntersecting) {
                    video.play(); // Toca o vídeo quando entra na tela
                } else {
                    video.pause(); // Pausa quando sai da tela
                    video.currentTime = 0; // Reinicia o vídeo quando sai
                }
            });
        }, { threshold: 0.6 }); // Só ativa quando pelo menos 60% do vídeo está visível

        // Aplica o Observer a cada vídeo
        videos.forEach(video => observer.observe(video));
        });

        function copiar() {
            // Pega o link do campo oculto
            var link = document.querySelector('input[name="link"]').value;

            // Usa a Clipboard API para copiar o link diretamente para a área de transferência
            navigator.clipboard.writeText(link).then(function() {
                // Feedback opcional - Alerta de sucesso
                alert('Link copiado para a área de transferência!');
            }).catch(function(err) {
                // Feedback opcional - Caso ocorra algum erro
                alert('Erro ao copiar o link: ' + err);
            });
        }



        let tag = window.document.createElement('script')
        tag.src = "https://www.youtube.com/iframe_api"
        window.document.head.appendChild(tag)
    
        const players = {}; // Certifique-se de declarar isso fora da função

        function onYouTubeIframeAPIReady() {
            document.querySelectorAll('.youtube-video').forEach(iframe => {
                const id = iframe.id;
                const videoId = iframe.dataset.videoId;

                players[id] = new YT.Player(id, {
                    videoId: videoId,
                    playerVars: {
                        modestbranding: 1,
                        rel: 0,
                        autoplay: 0,
                        loop: 0 // Aqui estamos usando loop via JS, então não precisa
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': function (e) {
                            if (e.data === YT.PlayerState.ENDED) {
                                players[id].seekTo(0);
                                players[id].playVideo();
                            }
                        }
                    }
                });
            });
        }
    
        function onPlayerReady(event) {
            const player = event.target
            const iframe = player.getIframe()
    
            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        player.seekTo(0, true)
                        player.playVideo()
                    } else {
                        player.pauseVideo()
                    }
                })
            }, {
                threshold: 0.5
            })
            observer.observe(iframe)
        }

        let ws = new WebSocket("ws://localhost:8080")

        ws.onopen = function() {
            let sessionToken = window.document.getElementById('sessionToken')?.value || ''

            console.log("Sending auth with token:", sessionToken);

            let authData = {
                type: "auth",
                token: sessionToken
            }
            ws.send(JSON.stringify(authData))
        }

        ws.onmessage = function(event) {
            let data = JSON.parse(event.data)
            if (data.type === 'like') {
                updateNumberOfLikes(data)
            } else {
                console.log('Oi tola')
            }
           // console.log(`Ganda parva: ${data}`)
        }

        function updateNumberOfLikes(data) {
            let likes = window.document.querySelector(`span#icone-reacao-num-${data.contentId}`)
            // alert(likes)
            // console.log(likes.textContent)
            likes.textContent = data.likes
        }

        window.document.querySelectorAll("span[id^='icone-reacao-']").forEach((span) => {
            span.addEventListener('click', function () {
                let contentId = this.id.replace("icone-reacao-", "")
                let data = {
                    type : 'like',
                    contentId : contentId,
                }

                ws.send(JSON.stringify(data))
            })
        })  
    </script>
</main>
<!--<aside id="search-aside">
    {% if count > show %}
        <nav class="pagination">
            <ul>
                {% for i in 1..total_pages %}
                    {% set ativo =  i == current_page ? 'ativo' : '' %}
                    <li><a href="?search={{ term|e('url') }}&show={{ show }}&from= {{ (i - 1) * show }}" class="{{ ativo }}">{{ i }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</aside>-->
{% endblock %}