{% extends 'layout.html' %}
{% block title %} Guardados {% endblock %}
{% block content %}
<!--<section id="opcoes-search">
    <section>
        <div><label for="receitas" onclick="mudaPosicao(0)" id="label-0" style="font-weight: bold;">Receitas</label> <input type="radio" name="opcao" id="receitas" checked></div>
        <div><label for="quiks" onclick="mudaPosicao(1)" id="label-1">Quiks</label> <input type="radio" name="opcao" id="quiks"></div>
        <div><label for="utilizadores" onclick="mudaPosicao(2)" id="label-2">Utilizadores</label> <input type="radio" name="opcao" id="utilizadores"></div>
    </section>
    <div id="linha-principal"><div id="linha-que-move"></div></div>
</section>-->
<style>
    main#search {
        margin-top: 125px;
    }

    main#search > section > h1 {
        text-align: center;
        margin-bottom: 50px;
    }
</style>
<main id="search">
    <section>
        <h1>Guardados</h1>
        <section id="conteudos">
            {% for conteudo in conteudos %}
                <div>
                    {% if conteudo.tipo_conteudo == 'receita' %}
                        <a href="{{ doc_root }}article/{{ conteudo.id }}/{{ conteudo.seo_title }}" class="receita"><img src="{{ doc_root }}imagens/comida/{{ conteudo.file }}" alt="Foto de {{ conteudo.titulo }} publicada por {{ conteudo.autor }}"></a>
                        <span>{{ conteudo.tipo_conteudo }}</span>
                    {% elseif conteudo.tipo_conteudo == 'quik'  %}
                        {% if conteudo.receita_acoplada_id == 0 %}
                            <div style="position: relative; display: inline-block;" class="video-wrapper-search quik">
                                <iframe id="video-{{ conteudo.id }}" id="video-{{ conteudo.id }}" class="youtube-video"
                                data-video-id="{{ conteudo.file }}" src="https://www.youtube.com/embed/{{ conteudo.file }}?enablejsapi=1&mute=1&modestbranding=1&rel=0"
                                frameborder="0" allowfullscreen></iframe>
                            
                                <a href="{{ doc_root }}whats-happening/{{ conteudo.id }}/{{ conteudo.seo_title }}"
                                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
                                        z-index: 10; background: transparent;"></a>
                                <span>{{ conteudo.tipo_conteudo }}</span>
                            </div>
                        {% else %}
                            <div style="position: relative; display: inline-block;" class="video-wrapper-search quik">
                                <iframe id="video-{{ conteudo.id }}" id="video-{{ conteudo.id }}" class="youtube-video"
                                data-video-id="{{ conteudo.file }}" src="https://www.youtube.com/embed/{{ conteudo.file }}?enablejsapi=1&mute=1&modestbranding=1&rel=0"
                                frameborder="0" allowfullscreen></iframe>
                            
                                <a href="{{ doc_root }}article/{{ conteudo.receita_acoplada_id }}/{{ conteudo.seo_title }}"
                                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
                                        z-index: 10; background: transparent;"></a>
                                <span>{{ conteudo.tipo_conteudo }}</span>
                            </div>
                        {% endif %}
                    {% elseif conteudo.tipo_conteudo == 'publicação' %}
                        <a href="{{ doc_root }}post/{{ conteudo.id }}"><img src="{{ doc_root }}posts/{{ conteudo.file }}" alt="Foto publicada por {{ conteudo.autor }}"></a>
                        <span>{{ conteudo.tipo_conteudo }}</span>
                    {% elseif conteudo.tipo_conteudo == 'vídeo longo' %}
                        <div style="position: relative; display: inline-block;" class="video-wrapper-search quik">
                                <iframe id="video-{{ conteudo.id }}" id="video-{{ conteudo.id }}" class="youtube-video"
                                data-video-id="{{ conteudo.file }}" src="https://www.youtube.com/embed/{{ conteudo.file }}?enablejsapi=1&mute=1&modestbranding=1&rel=0"
                                frameborder="0" allowfullscreen></iframe>
                            
                                <a href="{{ doc_root }}video/{{ conteudo.id }}/{{ conteudo.seo_title }}"
                                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
                                        z-index: 10; background: transparent;"></a>
                                <span>{{ conteudo.tipo_conteudo }}</span>
                            </div>
                    {% endif %}
                    <footer class="info">
                        <h1>{{ conteudo.titulo }}</h1>
                        <h2>{{ conteudo.descricao }}</h2>
                        <div class="stats">
                            <div class="likes">
                                <span>10 mil</span>
                                <span class="material-symbols-outlined">favorite</span>
                            </div>
                            <div class="views">
                                <span>250 mil</span>
                                <span class="material-symbols-outlined">visibility</span>
                            </div>
                        </div>
                    </footer>
                </div>
            {% endfor %}
        </section>
    </section>
</main>
<aside id="search-aside">
    {% if count > show %}
        <nav class="pagination">
            <ul>
                {% for i in 1..total_pages %}
                    {% set ativo =  loop.index == current_page ? 'ativo' : '' %}
                    <li><a href="?search={{ term|e('url') }}&show={{ show }}&from={{ (loop.index - 1) * show }}" class="{{ ativo }}">{{ i }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</aside>
<script>
    function mudaPosicao(pos) {
        let posicoes = []
        if (window.innerWidth <= 900) {
            posicoes = [0, 30, 69]
        } else {
            posicoes = [0, 37, 75]
        }
        let linha = window.document.querySelector('div#linha-que-move')
        for (let c = 0; c <= 2; c++) {
            let label = window.document.querySelector(`label#label-${c}`)
            label.style.fontWeight = 'normal';
        }

        linha.style.marginLeft = `${posicoes[pos]}%`
        linha.style.transition = '0.3s'

        let label = window.document.querySelector(`label#label-${pos}`)
        label.style.fontWeight = 'bold'
        label.style.transition = '0.3s'
    }
</script>
{% endblock %}



