{% extends 'layout.html' %}
{% block title %} {% if receita.titulo %} {{ receita.titulo }} {% else %} Criar Receita {% endif %} {% endblock %}
{% block content %}
{% if receita.imagem_file != '' %}
    {% set borda = 'none' %}
    {% set text_indent = '-225px' %}
{% else %}
    {% set borda = '1px solid rgb(210, 210, 210)' %}
    {% set text_indent = '0px' %}
{% endif %}
<style>
    main#create-edit-article > form > section#imagem-video > div#div-imagem, main#create-edit-article > form > section#imagem-video > div#div-video { 
        border: {{ borda }};
    }

    main#create-edit-article > form > section#imagem-video > div#div-imagem > label, main#create-edit-article > form > section#imagem-video > div#div-video > label {
        text-indent: {{ text_indent }};
    }
</style>
<main id="create-edit-article">
    <h2>Adicionar/Editar Receita</h2>
    <div id="opcoes-publicacao">
        <a href="{{ doc_root }}create-edit-article" class="pagina-atual">Receita</a>
        <a href="{{ doc_root }}create-edit-post">Publicação</a>
        <a href="{{ doc_root }}create-edit-quik">Quik</a>
        <a href="{{ doc_root }}create-edit-long-video">Vídeo Longo</a>
    </div>
    {% if erros.warning %}
        <div class="alert-danger">{{ erros.warning }}</div>
    {% endif %}
    <form action="{{ doc_root }}create-edit-article/{{ receita.id }}" method="post" autocomplete="off" id="form" enctype="multipart/form-data">
        <section id="imagem-video">
            <div id="div-imagem">
                {% if not receita.imagem_file %}
                    <label for="imagem">Upload de imagem</label>
                    <div>
                        <input type="file" name="imagem" id="imagem" accept="image/jpeg, image/png, image/gif, image/webp">
                    </div>
                    {% if erros.keywords %}<span class="error">{{ erros.imagem_file }}</span> {% endif %}
                {% else %}
                    <label for="imagem_guardada">Imagem:</label>  
                    <img src="{{ doc_root }}imagens/comida/{{ receita.imagem_file }}" alt="Foto de {{ receita.titulo }} publicada por {{ autor }}" id="imagem_guardada">
                    <br>
                    <a href="{{ doc_root }}image-delete/{{ receita.id }}">Apagar imagem</a>
                {% endif %}
            </div>
            <div id="div-video">
                <label for="video">Upload de video</label>
                <div>
                    <input type="file" name="video" id="video" readonly>
                </div>
            </div>
            <input type="text" name="quant_ingredientes" id="ingredientes">
            <input type="text" name="quant_quantidades" id="quantidades"">
            <input type="text" name="quant_passos_preparacao" id="passos_preparacao">
            <input type="text" name="quant_keywords" id="keywords">
        </section>
        <section id="info-text">
            <div id="div-titulo">
                <label for="titulo">Título</label>
                <input type="text" name="titulo" id="titulo" placeholder="Ex: Sushi" required maxlength="64" value="{{ receita.titulo }}">
                {% if erros.titulo %}<span class="error">{{ erros.titulo }}</span> {% endif %}
            </div>
            <div id="div-descricao">
                <label for="descricao">Descrição</label>
                <input type="text" name="descricao" id="descricao" placeholder="Ex: Como fazer sushi de forma rápida e descomplicada" maxlength="256" required value="{{ receita.descricao }}">
                {% if erros.descricao %}<span class="error">{{ erros.descricao }}</span> {% endif %}
            </div>
            <div id="div-tempo-preparo">
                <label for="tempo">Tempo de preparo</label>
                <div id="tempo-unidade">
                    <input type="number" name="tempo_preparo" id="tempo_preparo" placeholder="Ex: 45" min="0" value="{{ receita.tempo_preparo }}">
                    {% if erros.tempo_preparo %}<span class="error">{{ erros.tempo_preparo }}</span> {% endif %}
                    <select name="unidade_tempo" id="unidade_tempo">
                        <optgroup label="Unidade">
                            {% if receita.unidade_tempo == 'min' %}
                                {% set min_selected = 'selected' %}
                                {% set hr_selected = '' %}
                            {% elseif receita.unidade_tempo == 'hr' %}
                                {% set hr_selected = 'selected' %}
                                {% set min_selected = '' %}
                            {% else %}
                                {% set min_selected = 'selected' %}
                                {% set hr_selected = '' %}
                            {% endif %}
                            <option value="min" {{ min_selected }}>Min</option>
                            <option value="hr" {{ hr_selected }}>Hora</option>
                        </optgroup>
                    </select>
                    {% if erros.unidade_tempo %}<span class="error">{{ erros.unidade_tempo }}</span> {% endif %}
                </div>
            </div>
            <div id="numero-pessoas">
                <label for="numero-pessoas">Nº de Pessoas</label>
                <select name="numero_pessoas" id="numero-pessoas">
                    {% set count = 16 %}
                    {% for i in 1..count %}
                        {% set selected = receita.numero_pessoas == i ? 'selected' : '' %}
                        <option value="{{ i }}" {{ selected }}>{{ i }}</option>
                    {% endfor %}
                </select>
                {% if erros.numero_pessoas %}<span class="error">{{ erros.numero_pessoas }}</span> {% endif %}
            </div>
            <div id="div-categorias">
                <label for="categoria_id">Categoria</label>
                <select name="categoria_id" id="categoria_id">
                    {% for categoria in categorias %}
                        {% set selected = categoria.id == receita.categoria_id ? 'selected' : '' %}
                        <option value="{{ categoria.id }}" {{ selected }}>{{ categoria.nome }}</option>
                    {% endfor %}
                </select>
                {% if erros.categoria_id %}<span class="error">{{ erros.categoria_id }}</span> {% endif %}

                <input type="hidden" name="membro_id" value="{{ session.id }}">
                {% if erros.membor_id %}<span class="error">{{ erros.membor_id }}</span> {% endif %}
            </div>
            <div id="div-ingredientes">
                <div id="labels-ingredientes-quantidade">
                    <label for="ingredientes">Ingredientes</label>
                    <label for="quantidade">Quantidade</label>
                </div>
                <div class="ingredientes-quantidade">
                    {% set count = count_ingredientes %}
                    {% for i in 1..count %}
                        <div class="inputs-ingredientes-quantidade">
                            <input type="text" name="ingredientes{{ i }}" id="ingredientes{{ i }}" placeholder="Ex: Salmão" minlength="1" maxlength="32" value="{{ ingredientes[i-1] }}">
                            {% if erros.keywords %}<span class="error">{{ erros.ingredientes }}</span> {% endif %}
                            <input type="text" name="quantidades{{ i }}" id="quantidades{{ i }}" placeholder="Ex: 3; 450g; 100ml..." value="{{ quantidades[i-1] }}">
                            {% if erros.quantidades %}<span class="error">{{ erros.quantidades }}</span> {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <input type="button" value="Adicionar Ingrediente" onclick="adicionaIngredienteEQuantidade()">
            </div>
            <div id="div-passos-preparacao">
                <label for="div-passos-preparacao">Passos para a Preparação</label>
                <div id="div-textareas">
                    {% set count = count_passos_preparacao %}
                    {% for i in 1..count %}
                        <div class="textarea">
                            <label for="passo{{ i }}">Passo {{ i }}</label>
                                <textarea name="passo{{ i }}" id="passo{{ i }}" cols="40" rows="7">{{ passos_preparacao[i-1]|raw }}</textarea>
                                {% if erros.passos_preparacao %}<span class="error">{{ erros.passos_preparacao }}</span> {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <input type="button" value="Adicionar Passo" onclick="adicionaPasso()">
            </div>
            <div id="div-keywords-tags-e-section-actions">
                <div id="div-tags">
                    <label for="tag1">Keywords / Tags</label>
                    {% set count = count_keywords %}
                    {% for i in 1..count %}
                        <div class="tags">
                            <label for="tag{{ 1 }}">Tag {{ i }}</label>
                            <input type="text" name="tag{{ i }}" id="tag{{ i }}" placeholder="Ex: #sushi" value="#{{ keywords[i-1] }}">
                            {% if erros.keywords %}<span class="error">{{ erros.keywords }}</span> {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <input type="button" value="Adicionar Tag" onclick="adicionaTag()">
                <section id="actions">
                    <a href="{{ doc_root }}article-delete/{{ receita.id }}">Apagar</a>
                    <input type="submit" value="Publicar Receita">
                </section>
            </div>
        </section>
    </form>
</main>
<script>
    function encontrarMaiorId(prefixo) {
    let elementos = document.querySelectorAll(`[id^="${prefixo}"]`);
    let maiorId = 0;

    elementos.forEach(elemento => {
        // Extrai o número do ID removendo o prefixo
        let idNumerico = parseInt(elemento.id.replace(prefixo, ''), 10);
        
        // Atualiza o maior ID, se necessário
        if (idNumerico > maiorId) {
            maiorId = idNumerico;
        }
    })

    return maiorId;
}

    // Verificar os maiores IDs para cada prefixo
    let maiorIdIngredientes = encontrarMaiorId("ingredientes");
    let maiorIdQuantidades = encontrarMaiorId("quantidades");
    let maiorIdPassosPreparo = encontrarMaiorId("passo");
    let maiorIdKeywords = encontrarMaiorId("tag");

    let idNameIgrediente = maiorIdIngredientes
    let idNameQuantidade = maiorIdQuantidades
    let idNamePasso = maiorIdPassosPreparo
    let idNameTag = maiorIdKeywords

    //alert(idNameIgrediente)

    function adicionaIngredienteEQuantidade() {
        let inputText = window.document.createElement('input')
        let inputNumber = window.document.createElement('input')
        let div = window.document.createElement('div')
        let ingredientes = window.document.querySelector('div.ingredientes-quantidade')
        let divIngredientes = window.document.querySelector('div#div-ingredientes')
        let form = window.document.querySelector('form#form')
        idNameIgrediente++
        idNameQuantidade++

        inputText.type = 'text'
        inputText.name = `ingredientes${idNameIgrediente}`
        inputText.id = `ingredientes${idNameIgrediente}`
        inputText.required = false
        inputText.minLength = 1
        inputText.maxLength = 32

        inputNumber.type = 'text'
        inputNumber.name = `quantidades${idNameQuantidade}`
        inputNumber.id = `quantidades${idNameQuantidade}`
        inputNumber.required = false

        div.className = 'inputs-ingredientes-quantidade'

        /*divIngredientes.style.border = '2px solid red'*/
        //divIngredientes.style.height += '300px'
        //main.style.height = Number(alturaMain)
        //form.style.height = Number(form.offsetHeight) + Number(200)


        div.appendChild(inputText)
        div.appendChild(inputNumber)
        ingredientes.appendChild(div)
    }
    
    function adicionaPasso() {
        let label = window.document.createElement('label')
        let textArea = window.document.createElement('textarea')
        let div = window.document.createElement('div')
        let divTextAreas = window.document.querySelector('div#div-textareas')
        idNamePasso++

        label.setAttribute("for", `passo-${idNamePasso}`)
        label.innerHTML = `Passo ${idNamePasso}`
        textArea.name = `passo${idNamePasso}`
        textArea.id = `passo${idNamePasso}`
        textArea.cols = 40
        textArea.rows = 7

        div.className = 'textarea'

        div.appendChild(label)
        div.appendChild(textArea)
        divTextAreas.appendChild(div)
    }

    function adicionaTag() {
        let label = window.document.createElement('label')
        let input = window.document.createElement('input')
        let div = window.document.createElement('div')
        let divTags = window.document.querySelector('div#div-tags')
        idNameTag++

        label.setAttribute("for", `tag${idNameTag}`)
        label.innerHTML = `Tag ${idNameTag}`
        input.name = `tag${idNameTag}`
        input.id = `tag${idNameTag}`

        div.className = 'tags'

        div.appendChild(label)
        div.appendChild(input)
        divTags.appendChild(div)
    }

    document.getElementById("form").addEventListener("submit", function(event) {
    let form = event.target;

    let ingredientes = document.getElementById('ingredientes');
    let quantidades = document.getElementById('quantidades');
    let passos_preparacao = document.getElementById('passos_preparacao');
    let keywords = document.getElementById('keywords');

    function encontrarMaiorId(prefixo) {
    let elementos = document.querySelectorAll(`[id^="${prefixo}"]`);
    let maiorId = 0;

    elementos.forEach(elemento => {
        // Extrai o número do ID removendo o prefixo
        let idNumerico = parseInt(elemento.id.replace(prefixo, ''), 10);
        
        // Atualiza o maior ID, se necessário
        if (idNumerico > maiorId) {
            maiorId = idNumerico;
        }
    })

    return maiorId;
}

    // Verificar os maiores IDs para cada prefixo
    let maiorIdIngredientes = encontrarMaiorId("ingredientes");
    let maiorIdQuantidades = encontrarMaiorId("quantidades");
    let maiorIdPassosPreparo = encontrarMaiorId("passo");
    let maiorIdKeywords = encontrarMaiorId("tag");

    ingredientes.value = maiorIdIngredientes;
    quantidades.value = maiorIdQuantidades;
    passos_preparacao.value = maiorIdPassosPreparo;
    keywords.value = maiorIdKeywords;
});
</script>
{% endblock %}