<!--<pre>
    {% for conteudo in conteudos %}
        {{ dump(conteudo) }}
    {% endfor %}
</pre>-->
{% for conteudo in conteudos %}
    <div class="more-contents">
        {% if conteudo.tipo_conteudo == 'receita' %}
            <a href="{{ doc_root }}article/{{ conteudo.id }}/{{ conteudo.seo_title }}" class="receita"><img src="{{ doc_root }}imagens/comida/{{ conteudo.file }}" alt="Foto de {{ conteudo.titulo }} publicada por {{ conteudo.autor }}"></a>
        {% elseif conteudo.tipo_conteudo == 'quik'  %}
            {% if conteudo.receita_acoplada_id == 0 %}
                <a href="{{ doc_root }}whats-happening/{{ conteudo.id }}/{{ conteudo.seo_title }}" class="quik"><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ conteudo.file }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen autoplay></iframe></a>
            {% else %}
                <a href="{{ doc_root }}article/{{ conteudo.receita_acoplada_id }}/{{ conteudo.seo_title }}" class="quik"><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ conteudo.file }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen autoplay></iframe></a>
            {% endif %}
        {% elseif conteudo.tipo_conteudo == 'publicação' %}  
            <a href="{{ doc_root }}post/{{ conteudo.id }}"><img src="{{ doc_root }}posts/{{ conteudo.file }}" alt="Foto publicada por {{ conteudo.autor }}"></a>
        {% elseif conteudo.tipo_conteudo == 'vídeo longo' %}
            <a href="{{ doc_root }}video/{{ conteudo.id }}" class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ conteudo.file }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen autoplay></iframe></a>
        {% endif %}
        <footer class="info">
            <h1>{{ conteudo.titulo }}</h1>
            <h2>{{ conteudo.descricao }}</h2>
            <div class="stats">
                <div class="likes">
                    <span>10 mil</span>
                    <span class="material-symbols-outlined">favorite</span>
                </div>
                <div class="views">
                    <span>250 mil</span>
                    <span class="material-symbols-outlined">visibility</span>
                </div>
            </div>
        </footer>
    </div>
{% endfor %}


