{% extends 'layout.html' %}
{% block title %} Guardados {% endblock %}
{% block content %}
<section id="opcoes-search">
    <h1>Guardados</h1>
</section>
<main id="search">
    {% for conteudo in conteudos %}
        <div>
            {% if conteudo.tipo_conteudo == 'receita' %}
                <a href="{{ doc_root }}article/{{ conteudo.id }}/{{ conteudo.seo_title }}" class="receita"><img src="{{ doc_root }}imagens/comida/{{ conteudo.file }}" alt="Foto de {{ conteudo.titulo }} publicada por {{ conteudo.autor }}"><span>{{ conteudo.tipo_conteudo }}</span></a>
            {% elseif conteudo.tipo_conteudo == 'quik'  %}
                {% if conteudo.receita_acoplada_id == 0 %}
                    <a href="{{ doc_root }}whats-happening/{{ conteudo.id }}/{{ conteudo.seo_title }}" class="quik"><video src="{{ doc_root }}videos-verticais/{{ conteudo.file }}" muted loop playsinline controls></video><span>{{ conteudo.tipo_conteudo }}</span></a>
                {% else %}
                    <a href="{{ doc_root }}article/{{ conteudo.receita_acoplada_id }}/{{ conteudo.seo_title }}" class="quik"><video src="{{ doc_root }}videos-verticais/{{ conteudo.file }}" muted loop playsinline controls></video><span>{{ conteudo.tipo_conteudo }}</span></a>
                {% endif %}
            {% elseif conteudo.tipo_conteudo == 'publicação' %}  
                <a href="{{ doc_root }}post/{{ conteudo.id }}"><img src="{{ doc_root }}posts/{{ conteudo.file }}" alt="Foto publicada por {{ conteudo.autor }}"><span>{{ conteudo.tipo_conteudo }}</span></a>
            {% elseif conteudo.tipo_conteudo == 'vídeo longo' %}
                <a href="{{ doc_root }}video/{{ conteudo.id }}"><video src="{{ doc_root }}videos-longos/{{ conteudo.file }}" muted loop playsinline controls></video><span>{{ conteudo.tipo_conteudo }}</span></a>
            {% endif %}
            <footer class="info">
                <h1>{{ conteudo.titulo }}</h1>
                <h2>{{ conteudo.descricao }}</h2>
                <div class="stats">
                    <div class="likes">
                        <span>10 mil</span>
                        <span class="material-symbols-outlined">favorite</span>
                    </div>
                    <div class="views">
                        <span>250 mil</span>
                        <span class="material-symbols-outlined">visibility</span>
                    </div>
                </div>
            </footer>
        </div>
    {% endfor %}
</main>
<aside id="search-aside">
    {% if count > show %}
        <nav class="pagination">
            <ul>
                {% for i in 1..total_pages %}
                    {% set ativo =  i == current_page ? 'ativo' : '' %}
                    <li><a href="?search={{ term|e('url') }}&show={{ show }}&from= {{ (i - 1) * show }}" class="{{ ativo }}">{{ i }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</aside>
<script>
    function mudaPosicao(pos) {
        let posicoes = []
        if (window.innerWidth <= 900) {
            posicoes = [0, 30, 69]
        } else {
            posicoes = [0, 37, 75]
        }
        let linha = window.document.querySelector('div#linha-que-move')
        for (let c = 0; c <= 2; c++) {
            let label = window.document.querySelector(`label#label-${c}`)
            label.style.fontWeight = 'normal';
        }

        linha.style.marginLeft = `${posicoes[pos]}%`
        linha.style.transition = '0.3s'

        let label = window.document.querySelector(`label#label-${pos}`)
        label.style.fontWeight = 'bold'
        label.style.transition = '0.3s'
    }
</script>
{% endblock %}



