{% extends 'admin/layout.html' %}
{% block title %} Conteúdos {% endblock %}
{% block content %}
<main id="content">
    <section>
        <header>
            <h1>Conteúdos</h1>
            <a href="{{ doc_root }}create-edit-article">Adicionar novo conteúdo</a>
            {% if success %}> <div class="alert-success">{{ success }}</div> {% endif %}
            {% if failure %} <div class="alert-failure">{{ failure }}</div> {% endif %}
        </header>
        <table>
            <thead>
                <tr>
                    <th scope="col">Imagem</th>
                    <th scope="col">Título</th>
                    <th scope="col">Publicado</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Tipo Conteúdo</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Apagar</th>
                </tr>
            </thead>
            <tbody>
                {% for conteudo in conteudos %}
                    <tr>
                        {% if conteudo.tipo_conteudo == 'receita' %}
                            <td><img src="{{ doc_root }}imagens/comida/{{ conteudo.file }}" alt="Foto de {{ conteudo.titulo }} publicada por {{ conteudo.autor }}"></td>
                            {% set edit = 'create-edit-article' %}
                            {% set delete = 'article-delete' %}
                        {% elseif conteudo.tipo_conteudo == 'quik'  %}
                            <td><iframe id="video-{{ conteudo.id }}" id="video-{{ conteudo.id }}" class="youtube-video"
                            data-video-id="{{ conteudo.file }}" src="https://www.youtube.com/embed/{{ conteudo.file }}?enablejsapi=1&mute=1&modestbranding=1&rel=0"
                            frameborder="0" allowfullscreen></iframe></td>
                            {% set edit = 'create-edit-quik' %}
                            {% set delete = 'quik-delete' %}
                        {% elseif conteudo.tipo_conteudo == 'publicação' %}  
                            <td><img src="{{ doc_root }}posts/{{ conteudo.file }}" alt="Foto publicada por {{ conteudo.autor }}"></td>
                            {% set edit = 'create-edit-post' %}
                            {% set delete = 'post-delete' %}
                        {% elseif conteudo.tipo_conteudo == 'vídeo longo' %}
                            <td><iframe id="video-{{ conteudo.id }}" id="video-{{ conteudo.id }}" class="youtube-video"
                            data-video-id="{{ conteudo.file }}" src="https://www.youtube.com/embed/{{ conteudo.file }}?enablejsapi=1&mute=1&modestbranding=1&rel=0"
                            frameborder="0" allowfullscreen></iframe></td>
                            {% set edit = 'create-edit-long-video' %}
                            {% set delete = 'long-video-delete' %}
                        {% endif %}
                        <td>{{ conteudo.titulo }}</td>
                        <td>{{ conteudo.data|date('d F Y') }}</td>
                        <td>{{ conteudo.autor }}</td>
                        <td>{{ conteudo.tipo_conteudo }}</td>
                        <td><a href="{{ doc_root}}{{ edit }} /{{ conteudo.id }}" class="editar">Editar</a></td>
                        <td><a href="{{ doc_root }}{{ delete }}/{{ conteudo.id }}" class="apagar">Apagar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
<style>
    footer {
        opacity: 0;
    }
</style>
{% endblock %}

