<main id="all-messages">
    <h1>Mensagens</h1>
    <section id="contatos">
        <div>
            <a href="messages.php">
                <img src="imagens/fotos-perfil/tiago-p.jpg" alt="Foto de perfil Tiago">
                <p>Tiago Daniel</p>
            </a>
        </div>
        <div>
            <a href="messages.php">
                <img src="imagens/fotos-perfil/foto-homem.jpg" alt="Foto de perfil Tomás">
                <p>Tomás Dias</p>
            </a>
        </div>
        <div>
            <a href="messages.php">
                <img src="imagens/fotos-perfil/foto-mulher.jpg" alt="Foto de perfil Inês">
                <p>Inês Bastos</p>
            </a>
        </div>
        <div>
            <a href="messages.php">
                <img src="imagens/fotos-perfil/tiago-p.jpg" alt="Foto de perfil Tiago">
                <p>Tiago Daniel</p>
            </a>
        </div>
        <div>
            <a href="messages.php">
                <img src="imagens/fotos-perfil/foto-homem.jpg" alt="Foto de perfil Tomás">
                <p>Tomás Dias</p>
            </a>
        </div>
        <div>
            <a href="messages.php">
                <img src="imagens/fotos-perfil/foto-mulher.jpg" alt="Foto de perfil Inês">
                <p>Inês Bastos</p>
            </a>
        </div>
        <div>
            <a href="messages.php">
                <img src="imagens/fotos-perfil/tiago-p.jpg" alt="Foto de perfil Tiago">
                <p>Tiago Daniel</p>
            </a>
        </div>
        <div>
            <a href="messages.php">
                <img src="imagens/fotos-perfil/foto-homem.jpg" alt="Foto de perfil Tomás">
                <p>Tomás Dias</p>
            </a>
        </div>
        <div>
            <a href="messages.php">
                <img src="imagens/fotos-perfil/foto-mulher.jpg" alt="Foto de perfil Inês">
                <p>Inês Bastos</p>
            </a>
        </div>
        <div>
            <a href="messages.php">
                <img src="imagens/fotos-perfil/tiago-p.jpg" alt="Foto de perfil Tiago">
                <p>Tiago Daniel</p>
            </a>
        </div>
        <div>
            <a href="messages.php">
                <img src="imagens/fotos-perfil/foto-homem.jpg" alt="Foto de perfil Tomás">
                <p>Tomás Dias</p>
            </a>
        </div>
        <div>
            <a href="messages.php">
                <img src="imagens/fotos-perfil/foto-mulher.jpg" alt="Foto de perfil Inês">
                <p>Inês Bastos</p>
            </a>
        </div>
    </section>
    <iframe src="messages.php" frameborder="0" ></iframe>
</main>
