
<main id="index">
    <?php foreach ($articles as $article) { ?>
        <?php $data = postado_ha_x_horas($article['data']); ?>
        <article <?php if ($count == 0) { echo "id='primeiro-artigo'"; $count++; } ?>>
            <header>
                <a href="profile.php?id=<?= $article['membro_id'] ?>">
                    <img src="imagens/fotos-perfil/<?= html_escape($article['picture']) ?>" alt="Foto de perfil de <?= html_escape($article['autor']) ?>">
                    <span class="nome"><?= html_escape($article['autor']) ?></span>
                </a>
                <span class="data">Há <?php echo "$data[0] $data[1]"; ?></span>
                <br>
            </header>
            <section>
                <a href="article.php?id=<?= $article['id'] ?>"><img src="imagens/comida/<?= html_escape($article['imagem_file']) ?>" alt="Foto de <?= html_escape($article['titulo'])?> publicada por <?= html_escape($article['autor']) ?>"></a>
            </section>
            <aside class="aside-principal">
                <section>
                    <div class="icones">
                        <span class="icones-reacao"><img src="imagens/icons/hamburger-icon.png" alt="Like hamburguer"></span>
                        <span class="icones-reacao"><img src="imagens/icons/comment-icon.png" alt="Ícone comentário"></span>
                        <span class="icones-reacao"><img src="imagens/icons/share-icon.png" alt="Ícone comentário"></span>
                    </div>
                    <div class="numeros">
                        <span>3231</span>
                        <span>100</span>
                        <span>55</span>
                    </div>
                    <h2><?= html_escape($article['titulo']) ?></h2>
                    <p><?= html_escape($article['descricao']) ?></p>
                </section>
                <aside>
                    <a href="#">Ver os 100 comentários</a>
                </aside>
            </aside>
        </article>
    <?php } ?>
</main>
