<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} The Cooking Place {% endblock %}</title>
    <link rel="shortcut icon" href="imagens/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ doc_root }}estilos/style.css">
    <link rel="stylesheet" href="{{ doc_root }}estilos/desktop.css" media="screen and (min-width: 900px)">
    <link rel="stylesheet" href="{{ doc_root }}estilos/all-messages.css">
    <link rel="stylesheet" href="{{ doc_root }}estilos/all-messages-desktop.css" media="screen and (min-width: 900px)">
    <link rel="stylesheet" href="{{ doc_root }}estilos/create-edit-article.css">
    <link rel="stylesheet" href="{{ doc_root }}estilos/create-edit-article-desktop.css" media="screen and (min-width: 900px)">
    <link rel="stylesheet" href="{{ doc_root }}estilos/article-detele.css">
    <link rel="stylesheet" href="{{ doc_root }}estilos/article-detele-desktop.css" media="screen and (min-width: 900px)">
    <link rel="stylesheet" href="{{ doc_root }}estilos/article.css">
    <link rel="stylesheet" href="{{ doc_root }}estilos/article-desktop.css" media="screen and (min-width: 700px)">
    <link rel="stylesheet" href="{{ doc_root }}estilos/article-desktop.css" media="screen and (min-width: 1041px)">
    <link rel="stylesheet" href="{{ doc_root }}estilos/article-gigante.css" media="screen and (min-width: 1200px)">
    <link rel="stylesheet" href="{{ doc_root }}estilos/create-edit-article.css">
    <link rel="stylesheet" href="{{ doc_root }}estilos/create-edit-article-desktop.css" media="screen and (min-width: 900px)">
    <link rel="stylesheet" href="{{ doc_root }}estilos/desktop.css" media="screen and (min-width: 900px)">
    <link rel="stylesheet" href="{{ doc_root }}estilos/error-page.css">
    <link rel="stylesheet" href="{{ doc_root }}estilos/admin/category-detele.css">
    <link rel="stylesheet" href="{{ doc_root }}estilos/admin/image-delete.css">
    <link rel="stylesheet" href="{{ doc_root }}estilos/notificacoes.css">
    <link rel="stylesheet" href="{{ doc_root }}estilos/notificacoes-desktop.css" media="screen and (min-width: 900px)">
    <link rel="stylesheet" href="{{ doc_root }}estilos/profile.css">
    <link rel="stylesheet" href="{{ doc_root }}estilos/profile-desktop.css" media="screen and (min-width: 1040px)">
    <link rel="stylesheet" href="{{ doc_root }}estilos/search.css">
    <link rel="stylesheet" href="{{ doc_root }}estilos/search-desktop.css" media="screen and (min-width: 900px)">
    <link rel="stylesheet" href="{{ doc_root }}estilos/whats-happening.css">
    <link rel="stylesheet" href="{{ doc_root }}estilos/whats-happening-desktop.css" media="screen and (min-width: 900px)">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
    <header id="cabecalho-principal">
        <h1>
            <a href="index.php">
                <picture>
                    <source media="(max-width: 600px)" srcset="{{ doc_root }}imagens/logos/logo-pp.png">
                    <img src="{{ doc_root }}imagens/logos/logo-p.png" alt="Logo do The Cooking Place">
                </picture>
            </a>
        </h1>
        <form action="{{ doc_root }}search.php" method="get">
            <input type="search" name="search" id="search" placeholder="Pesquisa">
            <input type="submit" value="Pesquisar" class="escondido">
        </form>
        <div>
            <a href="{{ doc_root }}create-edit-article.php"><span class="material-symbols-outlined">add_box</span></a>
            <a href="{{ doc_root }}profile.php?id={{ membro.id }}"><img src="{{ doc_root }}imagens/fotos-perfil/{{ membro.picture }}" alt="Foto de perfil de membro.nome" class="membro-foto-perfil"></a>
        </div>
    </header>
    <br>
    {% block content %} {% endblock %}
    {% block footer %}
    <footer>
        <a href="{{ doc_root }}index.php"><span class="material-symbols-outlined aparece-desktop">home</span> <span class="descricao-icone">Página Principal</span></a>
        <a href="{{ doc_root }}notifications.php"><span class="material-symbols-outlined aparece-desktop">favorite</span> <span class="descricao-icone nao-destaque">Notificações</span></a>
        <a href="{{ doc_root }}all-messages.php"><span class="material-symbols-outlined">send</span> <span class="descricao-icone nao-destaque">Mensagens</span></a>
        <a href="{{ doc_root }}whats-happening.php"><span class="material-symbols-outlined aparece-desktop">star</span> <span class="descricao-icone nao-destaque">O que está a acontecer?</span></a>
        <a href="{{ doc_root }}profile.php?id={{ membro.id }}"><img src="{{ doc_root }}imagens/fotos-perfil/{{ membro.picture }}" alt="Foto de perfil de {{ membro.nome }}" class="membro-foto-perfil"> <span class="descricao-icone nao-destaque">Perfil</span></a>
        <a href="{{ doc_root }}create-edit-article.php"><span class="material-symbols-outlined aparece-mobile">add_box</span></a>
        <a href="{{ doc_root }}search.php"><span class="material-symbols-outlined aparece-mobile">search</span></a>
    </footer>
    {% endblock %}
</body>
</html>