{% extends 'layout.html' %}
{% block content %}
{% if post.imagem_file != '' %}
    {% set borda = 'none' %}
    {% set text_indent = '-225px' %}
{% else %}
    {% set borda = '1px solid rgb(210, 210, 210)' %}
    {% set text_indent = '0px' %}
{% endif %}
<style>
    main#create-edit-post > form > section#imagem > div#div-imagem { 
        border: {{ borda }};
    }
</style>
<main id="create-edit-post">
    <h2>Adicionar/Editar Publicação</h2>
    {% if erros.warning %}
        <div class="alert-danger">{{ erros.warning }}</div>
    {% endif %}
    <form action="{{ doc_root }}create-edit-post/{{ post.id }}" method="post" autocomplete="off" id="form" enctype="multipart/form-data">
        <section id="imagem">
            <div id="div-imagem">
                {% if not post.imagem_file %}
                    <label for="imagem">Upload de imagem</label>
                    <div>
                        <input type="file" name="imagem" id="imagem" accept="image/jpeg, image/png, image/gif">
                    </div>
                    {% if erros.keywords %}<span class="error">{{ erros.imagem_file }}</span> {% endif %}
                {% else %}
                    <label for="imagem_guardada">Imagem:</label>  
                    <img src="{{ doc_root }}posts/{{ post.imagem_file }}" alt="Foto publicada por {{ autor }}" id="imagem_guardada">
                {% endif %}
            </div>
            {% if erros.imagem_file %} <spanc class="error failure">{{ erros.imagem_file }}</span> {% endif %}
        </section>
        <section id="descricao">
            <textarea name="descricao" id="descricao" placeholder="  Adicionar descrição" maxlength="2000">{{ opiniao_editar.opiniao }}{{ post.descricao }}</textarea>
        </section>
        <div id="opcoes">
            <a href="{{ doc_root }}post-delete/{{ post.id }}">Apagar</a>
            <input type="submit" value="Publicar">
        </div>
    </form>
</main>
{% endblock %}