{% extends 'layout.html' %}
{% block content %}
<main id="article-delete">
    <section id="apagar">
        <h2>Apagar Publicação</h2>
        <section id="dados">
            <p>Confirma para apagar a Publicação: {{ post.titulo }}</p>
            <img src="{{ doc_root }}imagens/comida/{{ post.imagem_file }}" alt="Foto de {{ post.titulo }}">
        </section>
        <section id="opcoes">
            <form action="{{ doc_root }}post-delete/{{ post.id }}" method="post">
                <a href="{{ doc_root }}article/{{ post.id }}">Cancelar</a>
                <input type="submit" value="Confirmar">
            </form>
        </section>
    </section>
</main>
{% endblock %}

