<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Cooking Place</title>
    <link rel="shortcut icon" href="{{ doc_root }}imagens/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ doc_root }}estilos/login.css">
    <link rel="stylesheet" href="{{ doc_root }}estilos/login-tablet.css" media="screen and (min-width: 768px)">
</head>
<body>
    <main id="login-principal">
        <section id="principal">
            <section id="login">
                <h1><img src="{{ doc_root }}imagens/logos/logo-p.png" alt=""></h1>
                <form action="login.php" method="post">
                    <input type="text" name="user" id="user" placeholder="Nº de telemóvel, nome de utilizador, email">
                    <input type="password" name="password" id="password" placeholder="Palavra-passe">
                    <input type="submit" value="Iniciar sessão" id="submit">
                </form>
                <a href="forgot-password.php">Esqueceste-te da password?</a>
            </section>
            <section id="registo">
                <a href="register.php">Ainda não te registas-te? <span>Cria um conta</span></a>
            </section>
        </section>
        <aside>
            <video src="../public/videos-pagina-login/video-1.mov" autoplay muted loop playsinline id="tablet">O neu navegador não suporta vídeos neste formato</video>
        </aside>
    </main>
</body>
</html>