@charset "utf-8";

html, body {
    width: 100vw;
    height: 100vh;
}

main#contact {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

main#contact > section {
    width: 500px;
    height: 600px;
    margin-top: -400px;
    /*border: 1px solid green;*/

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main#contact > section > h1 {
    font-size: 3em;
    margin-top: -50px;
    margin-bottom: 50px;
}

main#contact > section > form {
    /*border: 1px solid green;*/
    width: 500px;
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

main#contact > section > form > div > input[type="email"], main#contact > section > form > div > textarea {
    width: 450px;
    padding: 8px;
    border: 0.5px solid var(--cor4);
    border-radius: 5px;
}

main#contact > section > form > input[type="submit"] {
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--cor1);
    border: none;
    border-radius: 10px;
    color: var(--cor5);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

main#contact > section > form > input[type="submit"]:hover {
    background-color: var(--cor0);
}


