{% extends 'layout.html' %}
{% block content %}
<main id="notifications">
    <h1>Notificações</h1>
    {% for notificacao in notificacoes %}
        {% if notificacao.mensagem == 'começou a seguir-te' %}
            {% set link = 'profile/' ~ notificacao.emissor_id ~ cookie.user_nick_name %}
        {% elseif notificacao.mensagem == 'publicou uma receita' or notificacao.mensagem == 'gostou da tua receita' %}
            {% set link = 'article/' ~ notificacao.emissor_id %}
        {% endif %}
        <div>
            <a href="{{ doc_root }}{{ link }}">
                <section id="perfil">
                    <div>
                        <img src="{{ doc_root }}imagens/fotos-perfil/{{ notificacao.picture ?? 'blank.png' }}" alt="Foto perfil de {{ notificacao.emissor }} ?>">
                    </div>
                </section>
                <section id="informacao">
                    <p><span class="perfil">{{ notificacao.emissor }}</span> {{ notificacao.mensagem }}</p>
                </section>
            </a>
            <section id="seguir">
                {% if notificacao.mensagem == 'começou a seguir-te' %}
                    <a href="profile.php?id={{ notificacao.emissor_id }}">Seguir</a>
                {% endif %}
            </section>
        </div>
    {% endfor %}
</main>
{% endblock %}

    