{% extends 'layout.html' %}
{% block content %}
<main id="password-lost">
    <section>
        <h1>Repor Password</h1>
        <form action="?token={{ token }}" method="post">
            <label for="password">Nova password:</label><br> <input type="password" name="password" id="password"><br>
            <span class="error">{{ errors.password }}</span><br>
            <label for="confirm">Reintroduz a nova password</label><br> <input type="password" name="confirm" id="confirm">
            <span class="error">{{ errors.confirm }}</span><br>
            <input type="submit" value="Repor Password">
        </form>
    </section>
</main>
{% endblock %}