{% extends 'layout.html' %}
{% block content %}
<main id="profile">
    <header>
        <div id="foto_e_bio">
            <img src="{{ doc_root }}imagens/fotos-perfil/{{ membro.picture }}" alt="Foto de perfil de {{ membro.nome }}">
            <p>{{ membro.bio }}</p>
        </div>
        <h1>{{ membro.nome }}</h1>
        <div id="estatisticas_numeros">
            <span>1M</span>
            <span>399</span>
            <span>69</span>
        </div>
        <div id="estatisticas_legenda">
            <span>seguidores</span>
            <span>a seguir</span>
            <span>receitas</span>
        </div>
        <p id="joined">Membro desde: <span>{{ membro.joined|date('F Y') }}</span></p>
    </header>
    <section>
        <div>
            {% for receita in receitas %}
                <a href="{{ doc_root }}article/{{ receita.id }}/{{ receita.seo_title }}"><img src="{{ doc_root }}imagens/comida/{{ receita.imagem_file }}" alt="Foto de {{ receita.titulo }} publicada por {{ receita.autor }}"></a>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}



    