<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registo</title>
    <link rel="shortcut icon" href="{{ doc_root }}imagens/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ doc_root }}estilos/registo.css">
    <link rel="stylesheet" href="{{ doc_root }}estilos/registo-desktop.css" media="screen and (min-width: 1200px)">
</head>
<body>
    <main id="register">
        <div id="video">
            <video src="{{ doc_root }}videos-pagina-login/video-2.mp4"  autoplay muted loop playsinline>O teu navegador não suoporta vídeos</video>
        </div>
        <div id="conteiner">
            <section>
                <h1><img src="{{ doc_root }}imagens/logos/logo-p.png" alt="Logo do The Cooking Place"></h1>
                <form action="{{ doc_root }}admin/register" method="post" autocomplete="on">
                    <fieldset id="contatos">
                        <legend class="escondido">Informações de contato</legend>
                        <div><input type="text" name="primeiro_nome" id="primeiro_nome" placeholder="Primeiro nome" minlength="1" maxlength="60" required autocomplete="name" value="{{ membro.primeiro_nome }}"> <label for="nome" class="escondido">Primeiro Nome</label></div>
                        <span class="error">{{ erros.primeiro_nome }}</span>
                        <div><input type="text" name="ultimo_nome" id="ultimo_nome" placeholder="Último nome" minlength="1" maxlength="60" required autocomplete="name" value="{{ membro.ultimo_nome }}"> <label for="nome" class="escondido">último Nome</label></div>
                        <span class="error">{{ erros.ultimo_nome }}</span>
                        <div><input type="tel" name="telemovel" id="telemovel" placeholder="Número de telemóvel" required minlength="9" maxlength="9" autocomplete="tel" value="{{ membro.telemovel }}"> <label for="telemovel" class="escondido">Nº de Telemóvel</label></div>
                        <span class="error">{{ error.telemovel }}</span>
                        <div><input type="email" name="email" id="email" placeholder="Email" required autocomplete="email" value="{{ membro.email }}"> <label for="email" class="escondido">Email</label></div>
                        <span class="error">{{ error.email }}</span>
                    </fieldset>
                    <fieldset id="nascimento">
                        <legend>Data de nascimento</legend>
                        <select name="dia" id="dia">
                            <script>
                                var select = window.document.querySelector('select#dia')
                                for (let dia = 1; dia <= 31; dia++) {
                                    let option = window.document.createElement('option')
                                    if (dia < 10) {
                                        option.value = `0${dia}`;
                                    } else {
                                        option.value = dia
                                    }
                                    option.value = Number(dia)
                                    option.innerHTML = dia
                                    select.appendChild(option)
                                }
                            </script>
                        </select>
                        <span class="error">{{ error.dia }}</span>
                        <select name="mes" id="mes">
                            <script>
                                var select = window.document.querySelector('select#mes')
                                let meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Sep', 'Out', 'Nov', 'Dez']
                                for (let mes = 1; mes <= 12; mes++) {
                                    let option = window.document.createElement('option')
                                    option.value = `0${mes}`;
                                    option.innerHTML = meses[mes-1]
                                    select.appendChild(option)
                                }
                            </script>
                        </select>
                        <span class="error">{{ error.mes }}</span>
                        <select name="ano" id="ano">
                            <script>
                                var select = window.document.querySelector('select#ano')
                                let anoAtual = new Date().getFullYear();
                                for (let ano =  anoAtual; ano >= 1900; ano--) {
                                    let option = window.document.createElement('option')
                                    option.value = ano
                                    option.innerHTML = ano
                                    select.appendChild(option)
                                }
                            </script>
                        </select>
                        <span class="error">{{ error.ano }}</span>
                    </fieldset>
                    <fieldset id="genero">
                        <legend>Género</legend>
                        <select name="genero" id="select_genero">
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                            <option value="D">Desconhecido</option>
                        </select>
                        <span class="error">{{ error.genero }}</span>
                    </fieldset>
                    <fieldset id="passwords">
                        <legend class="escondido">Password</legend>
                        <input type="password" name="password" id="password" placeholder="Password" required autocomplete="new-password" minlength="8" maxlength="80">
                        <span class="error">{{ error.password }}</span>
                        <input type="password" name="confirmacao" id="confirmacao" placeholder="Confirmar password" required autocomplete="new-password" minlength="8" maxlength="80">
                        <span class="error">{{ error.confirmacao }}</span>
                    </fieldset>
                    <input type="submit" value="Criar">
                </form>
            </section>
        </div>
    </main>
</body>
</html>