{% extends 'layout.html' %}
{% block content %}
<main id="password-lost">
    <section>
        <h1>Esqueces-te a Password</h1>
        {% if sent == false %}
            <form action="password-lost.php" method="post">
                <label for="email">Email</label><br><input type="email" name="email" id="email" placeholder="Ex: tiagoamdaniel488@gmail.com"><br>
                <span>{{ error }}</span>
                <input type="submit" value="Repor password">
            </form>
        {% else %}
            <p>Se o teu endereço de email estiver registado, irás receber um email com instruções para repores a tua password</p>
        {% endif %}
    </section>
</main>
{% endblock %}